name: "DotNet CD Pipeline"

on:
  workflow_call:
    inputs:
        helm_chart_version:
            required: true
            type: string
        helm_chart_name:
            required: true
            type: string
        helm_values_file:
            required: false
            type: string
            default: "values-production.yaml"
    secrets: {}

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Azure Login
              uses: azure/login@v1
              with:
                creds: ${{ secrets.AZURE_CREDENTIALS }}


            - name: Set up kubectl
              uses: azure/setup-kubectl@v3
              with:
                 version: 'latest'

            - name: Set up Helm
              uses: azure/setup-helm@v3
              with:
                version: '3.12.0'      

            - name: Get AKS credentials
              run: |
                az aks get-credentials --resource-group ${{ secrets.AZURE_RESOURCE_GROUP }} --name ${{ secrets.AKS_CLUSTER_NAME }}

## TODO: Create values from template
##

            - name: Log in to Azure Container Registry
              run: |
                helm registry login ${{ secrets.DOCKER_REGISTRY }} --username ${{ secrets.ACR_USERNAME }} --password ${{ secrets.ACR_PASSWORD }}

            - name: Deploy to Kubernetes
              run: |
                helm upgrade --install ${{ inputs.helm_chart_name }} \
                oci://${{ secrets.DOCKER_REGISTRY }}/helm/${{ inputs.helm_chart_name }} \
                --version ${{ inputs.helm_chart_version }} \
                --namespace default \
                --create-namespace \
                --values ${{ inputs.helm_values_file }} \
                --timeout=10m \

            - name: Clean up temporary files
              if: always()
              run: |
                rm -f values-production.yaml